{{>header}}
{{>navbar}}
<section class="container p-3 my-4 ">
    <div class="row">
        {{#each data}}
            <div class="card">
                <div class="card-header">
                    <a href="{{this.id}}">
                        <h3>{{this.title}}</h3>
                    </a>
                </div>
                <div class="card-body">
                    <p>{{this.content}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</section>
{{>footer}}