<nav class="navbar navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand m-2">{{title}}</a>
  <form class="form-inline">
    <a class="btn btn-light m-2 " href="1">English</a>
    <a class="btn btn-light m-2 " href="2">Arabic</a>
  </form>
</nav>